body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.what--is__nato {
  margin-top: 100px;
  padding: 0 40px;
}
.what--is__nato--cards {
  display: flex;
}
.what--is__nato--cards .what--is__nato--card {
  width: 33%;
  margin-right: 20px;
  box-sizing: border-box;
}
.what--is__nato--cards .what--is__nato--card .card__name {
  margin-bottom: 15px;
}
.what--is__nato--cards .what--is__nato--card .card__name i {
  font-size: 22px;
  margin-right: 8px;
}
.what--is__nato--cards .what--is__nato--card .card__name span {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.what--is__nato--cards .what--is__nato--card .card__image {
  cursor: pointer;
}
.what--is__nato--cards .what--is__nato--card .card__info {
  width: 95%;
}
.what--is__nato--cards .what--is__nato--card .card__info h5 {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 15px;
}
.what--is__nato--cards .what--is__nato--card .card__info div {
  display: flex;
  margin-bottom: 10px;
  color: #0080CC;
}
.what--is__nato--cards .what--is__nato--card .card__info div i {
  font-size: 12px;
  margin-right: 10px;
}
.what--is__nato--cards .what--is__nato--card .card__info div div {
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}
.what--is__nato--cards .what--is__nato--card .card__info div div:hover {
  color: rgba(0, 0, 0, 0.891);
}

.the-secretary--general {
  margin-top: 100px;
  padding: 0 40px;
}
.the-secretary--general .the__cards {
  display: flex;
}
.the-secretary--general .the__cards .the__card {
  width: 35%;
  box-sizing: border-box;
}
.the-secretary--general .the__cards .the__card--name {
  margin-bottom: 25px;
}
.the-secretary--general .the__cards .the__card--name i {
  font-size: 20px;
  margin-right: 10px;
}
.the-secretary--general .the__cards .the__card--name span {
  font-size: 19px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -0.5px;
  cursor: default;
}
.the-secretary--general .the__cards .the__card--name p {
  font-size: 19px;
  letter-spacing: 0.3px;
  cursor: default;
}
.the-secretary--general .the__cards .the__card--info {
  display: flex;
  flex-direction: column;
}
.the-secretary--general .the__cards .the__card--info div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #0080CC;
}
.the-secretary--general .the__cards .the__card--info div i {
  font-size: 12px;
  margin-right: 13px;
}
.the-secretary--general .the__cards .the__card--info div span {
  cursor: pointer;
  transition: all 0.2s ease;
}
.the-secretary--general .the__cards .the__card--info div span:hover {
  color: black;
}
.the-secretary--general .the__cards .the__card--pages {
  padding-right: 25px;
}
.the-secretary--general .the__cards .the__card--pages .pages__top {
  text-transform: uppercase;
  padding-bottom: 7px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.615);
  color: black;
  margin-bottom: 20px;
}
.the-secretary--general .the__cards .the__card--pages .pages__top span {
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}
.the-secretary--general .the__cards .the__card--pages .pages__top span:first-child {
  padding-bottom: 7px;
  border-bottom: 3.5px solid #0080CC;
}
.the-secretary--general .the__cards .the__card--pages .pages__top span:last-child {
  color: #0080CC;
  margin-left: 15px;
  padding-bottom: 7px;
  border-bottom: 3.5px solid transparent;
}
.the-secretary--general .the__cards .the__card--pages .pages__top span:last-child:hover {
  color: black;
  border-bottom: 3.5px solid #0080CC;
}
.the-secretary--general .the__cards .the__card--pages .pages__bottom div {
  display: flex;
  align-items: center;
}
.the-secretary--general .the__cards .the__card--pages .pages__bottom div span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.the-secretary--general .the__cards .the__card--pages .pages__bottom div .mr-20px {
  margin-right: 20px;
  padding: 2px;
  border: 1px solid rgba(128, 128, 128, 0.23);
  cursor: default;
}
.the-secretary--general .the__cards .the__card--pages .pages__bottom div .mr-20px small {
  font-weight: 400;
  color: grey;
  font-size: 12px;
}
.the-secretary--general .the__cards .the__card--pages .pages__bottom div .mr-20px span {
  font-weight: 600;
  font-size: 22px;
}
.the-secretary--general .the__cards .the__card--pages .pages__bottom div p {
  cursor: pointer;
  transition: all 0.2s ease;
}
.the-secretary--general .the__cards .the__card--pages .pages__bottom div p:hover {
  color: #0080CC;
}
.the-secretary--general .the__cards .the__card--image {
  position: relative;
  cursor: pointer;
}
.the-secretary--general .the__cards .the__card--image span {
  position: absolute;
  right: 20px;
  background-color: #031018;
  color: rgba(255, 255, 255, 0.603);
  padding: 8px;
  height: 100px;
}
.the-secretary--general .the__cards .the__card--image span i {
  position: relative;
  top: 38px;
  font-size: 24px;
}
.the-secretary--general .the__cards .the__card:last-child .the__card--info {
  margin-top: 15px;
}
.the-secretary--general .the__cards .the__card:last-child .the__card--info div {
  position: relative;
}
.the-secretary--general .the__cards .the__card:last-child .the__card--info div i {
  position: absolute;
  font-size: 13px;
  top: 3px;
}
.the-secretary--general .the__cards .the__card:last-child .the__card--info div span {
  position: absolute;
  color: black;
  top: 0;
  left: 20px;
  font-size: 18px;
  transition: all 0.2s ease;
}
.the-secretary--general .the__cards .the__card:last-child .the__card--info div span:hover {
  color: #0080CC;
}
.the-secretary--general .the__cards .the__card:last-child .the__card--info h5 {
  color: rgba(128, 128, 128, 0.689);
  padding: 10px 20px 3px;
  margin-bottom: 0;
  font-size: 14px;
  cursor: default;
}
.the-secretary--general .the__cards .the__card:last-child .the__card--info p {
  margin-top: 0;
  padding: 0 20px;
  font-size: 18px;
  cursor: default;
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.245);
}

.subscript-to__nato--updates {
  margin-top: 150px;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  flex-direction: column;
}
.subscript-to__nato--updates .back--to__top {
  margin-left: auto;
  margin-right: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 400;
  color: grey;
  cursor: pointer;
}
.subscript-to__nato--updates .back--to__top span {
  font-size: 14px;
}
.subscript-to__nato--updates .back--to__top i {
  font-size: 13px;
  transform: rotate(-90deg);
  margin-left: 5px;
  position: relative;
  top: 2px;
}
.subscript-to__nato--updates .nato__updates {
  padding: 65px 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #257FB6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscript-to__nato--updates .nato__updates span {
  position: relative;
}
.subscript-to__nato--updates .nato__updates span input {
  padding: 12px 120px 12px 20px;
  font-size: 18px;
  background-color: #FFFFFF;
  border: none;
  outline: none;
  text-align: center;
}
.subscript-to__nato--updates .nato__updates span span {
  padding: 13px 100px 13px 15px;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  background-color: #9EA5A9;
  color: white;
  cursor: pointer;
}
.subscript-to__nato--updates .nato__updates span span:hover {
  background-color: #64696B;
}
.subscript-to__nato--updates .nato__updates span i {
  color: white;
  position: absolute;
  font-size: 20px;
  right: 10px;
  top: 2px;
}

.featured {
  position: relative;
  padding: 30px 40px 70px;
  background-color: #ECEFF2;
}
.featured .featured__burger {
  display: flex;
  margin-bottom: 20px;
}
.featured .featured__burger i {
  font-size: 22px;
  margin-right: 10px;
}
.featured .featured__burger span {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.featured .carousel {
  padding: 0 40px;
}
.featured .carousel__cards {
  display: flex;
}
.featured .carousel__cards .carousel__card {
  margin-right: 20px;
}
.featured .carousel__cards .carousel__card .card__image {
  display: flex;
  position: relative;
}
.featured .carousel__cards .carousel__card .card__image img {
  width: 205px;
  cursor: pointer;
}
.featured .carousel__cards .carousel__card .card__image .card__image--icon {
  position: absolute;
  height: 100%;
  width: 28px;
  right: -40px;
  background-color: #2F3030;
  cursor: pointer;
}
.featured .carousel__cards .carousel__card .card__image .card__image--icon i {
  position: absolute;
  top: 50px;
  left: 5px;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.781);
}
.featured .carousel__cards .carousel__card .card__info {
  padding-left: 2px;
}
.featured .carousel__cards .carousel__card .card__info h5 {
  margin: 5px 0 6px;
  font-size: 12px;
  font-weight: 400;
  color: grey;
}
.featured .carousel__cards .carousel__card .card__info .card__info-text {
  width: 90%;
}
.featured .carousel__cards .carousel__card .card__info .card__info-text i {
  margin-right: 5px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.758);
  cursor: pointer;
}
.featured .carousel__cards .carousel__card .card__info .card__info-text span {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.758);
  cursor: pointer;
}
.featured .round__button {
  position: absolute;
  left: 600px;
  bottom: 30px;
}
.featured .round__button span {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.422);
  margin-right: 10px;
  cursor: pointer;
}
.featured .round__button span:first-child {
  background-color: rgba(128, 128, 128, 0.694);
}
.featured .round__button span:hover {
  background-color: rgba(128, 128, 128, 0.694);
}

.header {
  width: 97vw;
  display: flex;
  flex-direction: column;
  margin: 20px 35px 0;
}
.header .main--header {
  display: flex;
}
.header .main--header .header__logo {
  width: 58%;
}
.header .main--header .header__logo img {
  width: 100%;
  cursor: pointer;
}
.header .main--header .header__language {
  display: flex;
  margin-left: auto;
  align-items: center;
  position: relative;
  top: -28px;
  margin-right: 55px;
}
.header .main--header .header__language .header__email {
  background-image: linear-gradient(rgba(128, 128, 128, 0.835), rgba(128, 128, 128, 0.995)), url("/image/20110401_tv.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  margin-right: 25px;
  color: white;
  padding: 5px 7px 5px 10px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}
.header .main--header .header__language .header__email:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.691));
}
.header .main--header .header__language .header__email small {
  margin: 0 25px 0 7px;
}
.header .main--header .header__language .header__email i:nth-child(1) {
  font-size: 14px;
}
.header .main--header .header__language .header__email i:nth-child(3) {
  font-size: 11px;
}
.header .main--header .header__language .header__english select {
  cursor: pointer;
  border: none;
  color: rgb(76.5, 76.5, 76.5);
}

.navigation {
  z-index: 3;
  margin-top: 40px;
  display: flex;
  align-items: center;
  position: relative;
}
.navigation .navigation__menu .navigation__items {
  padding-left: 0;
  display: flex;
  position: relative;
}
.navigation .navigation__menu .navigation__items .navigation__item {
  list-style: none;
  margin-right: 17px;
  padding-right: 17px;
  border-right: 1px solid grey;
}
.navigation .navigation__menu .navigation__items .navigation__item:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
  margin-right: 0;
}
.navigation .navigation__menu .navigation__items .navigation__item .navigation__link {
  position: relative;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.732);
  font-weight: 600;
}
.navigation .navigation__menu .navigation__items .navigation__item .navigation__link:hover {
  z-index: 4;
  border-bottom: 5px solid #1b7fcc;
  padding-bottom: 5px;
  transition: all 0.2s ease;
}
.navigation .navigation__menu .navigation__items .navigation__item .list {
  margin-top: -5px;
  display: none;
  position: absolute;
  background-color: white;
  width: 1100px;
  padding: 40px 35px 30px 40px;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row {
  padding-left: 0;
  position: relative;
  top: 0;
  left: 0;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row-col {
  list-style: none;
  margin-bottom: 6px;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row-col .nato-history-ml-5 {
  margin-left: 25px;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row-col--link {
  position: relative;
  color: black;
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 1px;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row-col--link:before {
  content: "";
  position: absolute;
  left: -20px;
  top: 5px;
  margin-bottom: 5px;
  border-top: 4.5px solid transparent;
  border-bottom: 4.5px solid transparent;
  border-left: 7px solid grey;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row-col--link:hover {
  text-decoration: underline;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row:first-child {
  width: 25%;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row:last-child {
  width: 50%;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: -10px;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row:last-child .padding-left-chiziq {
  padding-left: 50px;
  border-left: 1px solid rgba(0, 0, 0, 0.1333333333);
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row:last-child span {
  display: inline-block;
  position: relative;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row:last-child span .list__row-col {
  display: flex;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row:last-child span .list__row-col--link img {
  width: 270px;
  margin-left: 5px;
  border: 1px solid rgba(128, 128, 128, 0.113);
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row:last-child span:first-child {
  display: flex;
  flex-direction: column;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row:last-child span:first-child .list__row-col--link:before {
  content: "";
  position: absolute;
  left: -10px;
  top: 10px;
  margin-bottom: 5px;
  border-top: 4.5px solid transparent;
  border-bottom: 4.5px solid transparent;
  border-left: 7px solid grey;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row:last-child span:first-child .list__row-col--link:nth-child(1):last-child:before {
  content: none;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row:last-child span:first-child .list__row-col--link:nth-child(2):before {
  top: -60px;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row:last-child span:last-child {
  position: relative;
  left: -25px;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row:last-child span:last-child .list__row-col span:last-child .list__row-col--link::before {
  content: none;
}
.navigation .navigation__menu .navigation__items .navigation__item:hover .list {
  display: flex;
  position: absolute;
  top: 30px;
  left: 0;
}
.navigation .navigation__menu .navigation__items .navigation__item:nth-child(2) .list__row:first-child {
  margin-right: 40px;
}
.navigation .navigation__menu .navigation__items .navigation__item:nth-child(2) .list__row:last-child {
  left: 0;
}
.navigation .navigation__menu .navigation__items .navigation__item:nth-child(2) .list__row .padding-left-chiziq {
  padding-left: 40px;
}
.navigation .navigation__menu .navigation__items .navigation__item:nth-child(2) .watch-series a::before {
  display: none;
}
.navigation .navigation__menu .navigation__items .navigation__item:nth-child(3) .list__row {
  margin-right: 40px;
}
.navigation .navigation__menu .navigation__items .navigation__item:nth-child(3) .list__row:first-child {
  margin-right: 10px;
}
.navigation .navigation__menu .navigation__items .navigation__item:nth-child(3) .list__row:last-child {
  left: 40px;
}
.navigation .navigation__menu .navigation__items .navigation__item:nth-child(3) .list__row .padding-left-chiziq {
  padding-left: 40px;
}
.navigation .navigation__menu .navigation__items .navigation__item:nth-child(4) .list__row:last-child {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.navigation .navigation__menu .navigation__items .navigation__item:nth-child(4) .list__row:last-child .list__row-col {
  position: relative;
}
.navigation .navigation__menu .navigation__items .navigation__item:nth-child(4) .list__row:last-child .list__row-col:last-child {
  position: absolute;
  margin-top: 30px;
}
.navigation .navigation__search {
  position: relative;
  margin-right: 40px;
  margin-left: 125px;
  border: 1px solid rgba(0, 0, 0, 0.217);
  padding: 6px 10px;
  width: 370px;
  height: 20px;
}
.navigation .navigation__search i {
  position: absolute;
  top: 25%;
  left: 12px;
  z-index: 2;
  cursor: pointer;
}
.navigation .navigation__search input {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  padding-left: 35px;
}

.latest-news {
  position: relative;
  top: -10px;
  background-color: #000000;
  color: white;
  padding: 0 40px 0;
  height: 500px;
}
.latest-news h2 {
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 21px;
  letter-spacing: -0.5px;
  font-weight: bold;
}
.latest-news__cards {
  display: flex;
  position: relative;
  width: 100%;
}
.latest-news__cards .latest-news__card {
  margin-right: 15px;
}
.latest-news__cards .latest-news__card:nth-child(1) {
  width: 2000px;
}
.latest-news__cards .latest-news__card:nth-child(1) .news__card--image {
  position: relative;
}
.latest-news__cards .latest-news__card:nth-child(1) .news__card--image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 650px;
  height: 362px;
  cursor: pointer;
}
.latest-news__cards .latest-news__card:nth-child(1) .news__card--image__hover {
  position: absolute;
  top: 240px;
  padding-bottom: 20px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding-left: 25px;
  background-color: rgba(0, 0, 0, 0.688);
  cursor: pointer;
}
.latest-news__cards .latest-news__card:nth-child(1) .news__card--image__hover h4 {
  color: #0cb1ff;
  margin-top: 10px;
}
.latest-news__cards .latest-news__card:nth-child(1) .news__card--image__hover h3 {
  margin-top: -15px;
  font-size: 23px;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.latest-news__cards .latest-news__card:nth-child(1) .news__card--image__hover p {
  display: none;
}
.latest-news__cards .latest-news__card:nth-child(1) .news__card--image__hover div {
  display: flex;
  position: relative;
  bottom: 15px;
}
.latest-news__cards .latest-news__card:nth-child(1) .news__card--image__hover div span {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.latest-news__cards .latest-news__card:nth-child(1) .news__card--image__hover div span i {
  margin-right: 8px;
  font-size: 13px;
}
.latest-news__cards .latest-news__card:nth-child(1) .news__card--image__hover div span small {
  font-size: 17px;
}
.latest-news__cards .latest-news__card:nth-child(1) .news__card--image__hover:hover {
  top: 0;
  padding-bottom: 160px;
  background-color: rgba(0, 0, 0, 0.688);
}
.latest-news__cards .latest-news__card:nth-child(1) .news__card--image__hover:hover h3 {
  transition: all 0.3s ease;
}
.latest-news__cards .latest-news__card:nth-child(1) .news__card--image__hover:hover h3:hover {
  color: #0080CC;
}
.latest-news__cards .latest-news__card:nth-child(1) .news__card--image__hover:hover p {
  display: block;
  width: 95%;
  padding-bottom: 20px;
  font-size: 18px;
  letter-spacing: 0.2px;
}
.latest-news__cards .latest-news__card:nth-child(1) .news__card--image__hover:hover div span {
  transition: all 0.3s ease;
}
.latest-news__cards .latest-news__card:nth-child(1) .news__card--image__hover:hover div span:hover {
  color: #0080CC;
}
.latest-news__cards .latest-news__card:nth-child(2) {
  display: flex;
  flex-direction: column;
}
.latest-news__cards .latest-news__card:nth-child(2) div p {
  font-size: 16px;
  margin-top: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.latest-news__cards .latest-news__card:nth-child(2) div p:hover {
  color: #0cb1ff;
}
.latest-news__cards .latest-news__card:nth-child(2) div img {
  width: 220px;
  height: 120px;
  cursor: pointer;
}
.latest-news__cards .latest-news__card:nth-child(3) {
  margin-right: 0;
  border: 1px solid rgba(255, 255, 255, 0.197);
  border-top: none;
  border-bottom: none;
}
.latest-news__cards .latest-news__card:nth-child(3) p {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.197);
  padding: 15px 15px 25px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.latest-news__cards .latest-news__card:nth-child(3) p:first-child {
  padding-top: 25px;
}
.latest-news__cards .latest-news__card:nth-child(3) p:hover {
  background-color: #0080CC;
  color: white;
}
.latest-news__cards .latest-news__card:nth-child(3) h5 {
  margin: 0;
  padding: 15px 25px 37px 170px;
  position: relative;
  color: #0cb1ff;
  cursor: pointer;
  transition: all 0.2s ease;
}
.latest-news__cards .latest-news__card:nth-child(3) h5:hover {
  background-color: #0080CC;
  color: white;
}

/*# sourceMappingURL=main.css.map */
