.header {
  width: 97vw;
  display: flex;
  flex-direction: column;
  margin: 20px 35px 0;
}
.header .main--header {
  display: flex;
}
.header .main--header .header__logo {
  width: 58%;
}
.header .main--header .header__logo img {
  width: 100%;
  cursor: pointer;
}
.header .main--header .header__language {
  display: flex;
  margin-left: auto;
  align-items: center;
  position: relative;
  top: -28px;
  margin-right: 55px;
}
.header .main--header .header__language .header__email {
  background-image: linear-gradient(rgba(128, 128, 128, 0.835), rgba(128, 128, 128, 0.995)), url("/image/20110401_tv.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  margin-right: 25px;
  color: white;
  padding: 5px 7px 5px 10px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}
.header .main--header .header__language .header__email:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.691));
}
.header .main--header .header__language .header__email small {
  margin: 0 25px 0 7px;
}
.header .main--header .header__language .header__email i:nth-child(1) {
  font-size: 14px;
}
.header .main--header .header__language .header__email i:nth-child(3) {
  font-size: 11px;
}
.header .main--header .header__language .header__english select {
  cursor: pointer;
  border: none;
  color: rgb(76.5, 76.5, 76.5);
}

.navigation {
  margin-top: 40px;
  display: flex;
  align-items: center;
  position: relative;
}
.navigation .navigation__menu .navigation__items {
  padding-left: 0;
  display: flex;
  position: relative;
}
.navigation .navigation__menu .navigation__items .navigation__item {
  list-style: none;
  margin-right: 17px;
  padding-right: 17px;
  border-right: 1px solid grey;
}
.navigation .navigation__menu .navigation__items .navigation__item:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
  margin-right: 0;
}
.navigation .navigation__menu .navigation__items .navigation__item .navigation__link {
  position: relative;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.732);
  font-weight: 600;
}
.navigation .navigation__menu .navigation__items .navigation__item .navigation__link:hover {
  border-bottom: 5px solid #1b7fcc;
  padding-bottom: 5px;
  transition: all 0.2s ease;
}
.navigation .navigation__menu .navigation__items .navigation__item .list {
  display: none;
  position: absolute;
  background-color: white;
  width: 1100px;
  padding: 40px 35px 30px 40px;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row {
  padding-left: 0;
  position: relative;
  top: 0;
  left: 0;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row-col {
  list-style: none;
  margin-bottom: 6px;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row-col .nato-history-ml-5 {
  margin-left: 25px;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row-col--link {
  position: relative;
  color: black;
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 1px;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row-col--link:before {
  content: "";
  position: absolute;
  left: -20px;
  top: 5px;
  margin-bottom: 5px;
  border-top: 4.5px solid transparent;
  border-bottom: 4.5px solid transparent;
  border-left: 7px solid grey;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row-col--link:hover {
  text-decoration: underline;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row:first-child {
  width: 25%;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row:last-child {
  width: 50%;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: -10px;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row:last-child .padding-left-chiziq {
  padding-left: 50px;
  border-left: 1px solid rgba(0, 0, 0, 0.1333333333);
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row:last-child span {
  display: inline-block;
  position: relative;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row:last-child span .list__row-col {
  display: flex;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row:last-child span .list__row-col--link img {
  width: 270px;
  margin-left: 5px;
  border: 1px solid rgba(128, 128, 128, 0.113);
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row:last-child span:first-child {
  display: flex;
  flex-direction: column;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row:last-child span:first-child .list__row-col--link:before {
  content: "";
  position: absolute;
  left: -10px;
  top: 10px;
  margin-bottom: 5px;
  border-top: 4.5px solid transparent;
  border-bottom: 4.5px solid transparent;
  border-left: 7px solid grey;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row:last-child span:first-child .list__row-col--link:nth-child(1):last-child:before {
  content: none;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row:last-child span:first-child .list__row-col--link:nth-child(2):before {
  top: -60px;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row:last-child span:last-child {
  position: relative;
  left: -25px;
}
.navigation .navigation__menu .navigation__items .navigation__item .list__row:last-child span:last-child .list__row-col span:last-child .list__row-col--link::before {
  content: none;
}
.navigation .navigation__menu .navigation__items .navigation__item:hover .list {
  display: flex;
  position: absolute;
  top: 30px;
  left: 0;
}
.navigation .navigation__menu .navigation__items .navigation__item:nth-child(2) .list__row:first-child {
  margin-right: 60px;
}
.navigation .navigation__menu .navigation__items .navigation__item:nth-child(2) .list__row:last-child {
  left: 40px;
}
.navigation .navigation__menu .navigation__items .navigation__item:nth-child(2) .watch-series a::before {
  display: none;
}
.navigation .navigation__search {
  position: relative;
  margin-right: 40px;
  margin-left: 125px;
  border: 1px solid rgba(0, 0, 0, 0.217);
  padding: 6px 10px;
  width: 370px;
  height: 20px;
}
.navigation .navigation__search i {
  position: absolute;
  top: 25%;
  left: 12px;
  z-index: 2;
  cursor: pointer;
}
.navigation .navigation__search input {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  padding-left: 35px;
}

/*# sourceMappingURL=main.css.map */
