.what--is__nato {
    margin-top: 100px;
    padding: 0 40px;
    &--cards {
        display: flex;
        .what--is__nato--card {
            width: 33%;
            margin-right: 20px;
            box-sizing: border-box;
            .card__name {
                margin-bottom: 15px;
                i {
                    font-size: 22px;
                    margin-right: 8px;
                }
                span {
                    font-size: 20px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
            .card__image {
                cursor: pointer;
            }
            .card__info {
                width: 95%;
                h5 {
                    font-size: 19px;
                    font-weight: 400;
                    margin-bottom: 15px;
                }
                div {
                    display: flex;
                    margin-bottom: 10px;
                    color: #0080CC;
                    i {
                        font-size: 12px;
                        margin-right: 10px;
                    }
                    div {
                        font-weight: 600;
                        cursor: pointer;
                        transition: all 0.2s ease;
                        &:hover {
                            color: rgba(0, 0, 0, 0.891);
                        }
                    }
                }
            }
        }
    }
}