.what--is__nato {
    margin-top: 100px;
    padding: 0 40px;
    &--cards {
        display: flex;
        .what--is__nato--card {
            width: 33%;
            margin-right: 20px;
            box-sizing: border-box;
            .card__name {
                margin-bottom: 15px;
                i {
                    font-size: 22px;
                    margin-right: 8px;
                }
                span {
                    font-size: 20px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
            .card__image {
                cursor: pointer;
            }
            .card__info {
                width: 95%;
                h5 {
                    font-size: 19px;
                    font-weight: 400;
                    margin-bottom: 15px;
                }
                div {
                    display: flex;
                    margin-bottom: 10px;
                    color: #0080CC;
                    i {
                        font-size: 12px;
                        margin-right: 10px;
                    }
                    div {
                        font-weight: 600;
                        cursor: pointer;
                        transition: all 0.2s ease;
                        &:hover {
                            color: rgba(0, 0, 0, 0.891);
                        }
                    }
                }
            }
        }
    }
}

.the-secretary--general {
    margin-top: 100px;
    padding: 0 40px;
    .the__cards {
        display: flex;
        .the__card {
            width: 35%;
            box-sizing: border-box;
            &--name {
                margin-bottom: 25px;
                i {
                    font-size: 20px;
                    margin-right: 10px;
                }
                span {
                    font-size: 19px;
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: -0.5px;
                    cursor: default;
                }
                p {
                    font-size: 19px;
                    letter-spacing: 0.3px;
                    cursor: default;
                }
            }
            &--info {
                display: flex;
                flex-direction: column;
                div {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    color: #0080CC;
                    i {
                        font-size: 12px;
                        margin-right: 13px;
                    }
                    span {
                        cursor: pointer;
                        transition: all 0.2s ease;
                        &:hover {
                            color: black;
                        }
                    }
                }
            }
            &--pages {
                padding-right: 25px;
                .pages__top {
                    text-transform: uppercase;
                    padding-bottom: 7px;
                    border-bottom: 1px solid rgba(128, 128, 128, 0.615);
                    color: black;
                    margin-bottom: 20px;
                    span {
                        font-size: 13px;
                        font-weight: bold;
                        cursor: pointer;
                        transition: all 0.2s ease;
                        &:first-child {
                            padding-bottom: 7px;
                            border-bottom: 3.5px solid #0080CC;
                        }
                        &:last-child {
                            color: #0080CC;
                            margin-left: 15px;
                                padding-bottom: 7px;
                                border-bottom: 3.5px solid transparent;
                                &:hover  {
                                    color: black;
                                    border-bottom: 3.5px solid #0080CC;
                            }
                        }
                    }
                }
                .pages__bottom {
                    div {
                        display: flex;
                        align-items: center;
                        span {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }
                        .mr-20px {
                            margin-right: 20px;
                            padding: 2px;
                            border: 1px solid rgba(128, 128, 128, 0.23);
                            cursor: default;
                            small {
                                font-weight: 400;
                                color: grey;
                                font-size: 12px;
                            }
                            span {
                                font-weight: 600;
                                font-size: 22px;
                            }
                        }
                        p {
                            cursor: pointer;
                            transition: all 0.2s ease;
                            &:hover {
                                color: #0080CC;
                            }
                        }
                    }
                }
            }
            &--image {
                position: relative;
                cursor: pointer;
                span {
                    position: absolute;
                    right: 20px;
                    background-color: #031018;
                    color: rgba(255, 255, 255, 0.603);
                    padding: 8px;
                    height: 100px;
                    i {
                        position: relative;
                        top: 38px;
                        font-size: 24px;
                    }
                }
            }
            &:last-child {
                .the__card--info {
                    margin-top: 15px;
                    div {
                        position: relative;
                        i {
                            position: absolute;
                            font-size: 13px;
                            top: 3px;
                        }
                        span {
                            position: absolute;
                            color: black;
                            top: 0;
                            left: 20px;
                            font-size: 18px;
                            transition: all 0.2s ease;
                            &:hover {
                                color: #0080CC;
                            }
                        }

                    }
                    h5 {
                        color: rgba(128, 128, 128, 0.689);
                        padding: 10px 20px 3px;
                        margin-bottom: 0;
                        font-size: 14px;
                        cursor: default;
                    }
                    p {
                        margin-top: 0;
                        padding: 0 20px;
                        font-size: 18px;
                        cursor: default;
                        padding-bottom: 35px;
                        border-bottom: 1px solid rgba(128, 128, 128, 0.245);
                    }
                }
            }
        }
    }
}

.subscript-to__nato--updates {
    margin-top: 100px;
    position: relative;
    @include flex;
    flex-direction: column;
    .back--to__top {
        margin-left: auto;
        margin-right: 50px;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: 400;
        color: grey;
        cursor: pointer;
        span {
            font-size: 14px;
        }
        i {
            font-size: 13px;
            transform: rotate(-90deg);
            margin-left: 5px;
            position: relative;
            top: 2px;
        }
    }
    .nato__updates {
        padding: 65px 0;
        width: 100%;
        box-sizing: border-box;
        background-color: #257FB6;
        @include center;
        span {
            position: relative;
            input {
                padding: 12px 120px 12px 20px;
                font-size: 18px;
                background-color: #FFFFFF;
                border: none;
                outline: none;
                text-align: center;
            }
            span {
                padding: 13px 100px 13px 15px;
                font-size: 18px;
                text-transform: uppercase;
                position: relative;
                background-color: #9EA5A9;
                color: white;
                cursor: pointer;
                &:hover {
                    background-color: #64696B;
                }
            }
            i {
                color: white;
                position: absolute;
                font-size: 20px;
                right: 10px;
                top: 2px;
            }
        }
    }

}